{% extends 'base.html' %}

{% block user_defined %}
	<div class="row demo-row">
	<h1 class="demo-section-title">Remote Microscope Video Stream</h1>
	
	</div>
	<img src="{{ url_for('video_feed') }}" width='100%'>
	<h1 class="demo-section-title">Controll Panel</h1>
	<div class="row demo-row">
		<div class="col">
          <h4 class="demo-panel-title">Select Microscope</h4>
          <select class="form-control select select-primary" id='myselect' data-toggle="select"  onchange='SelectChange()'>
            <option value="0" selected>Microscope one</option>
            <option value="1">Microscope two</option>
            <option value="2">Microscope three</option>
            <option value="3">Microscope four</option>
          </select>
        </div> <!-- /.col -->
		
		<div class="col">
		  <h6 class="demo-panel-title">Capture a image</h6>
          <a href="#fakelink" style="width:50%" class="btn btn-block btn-lg btn-primary">Capture</a>
		  <h6 class="demo-panel-title">Record a Video </h6>
		  <input type="checkbox" Unchecked data-toggle="switch" id="custom-switch-03" data-on-text="Start" data-off-text="Stop" />
        </div>
        <div class="col-6">
		  <h3 class="demo-panel-title">Schedule</h3>
		  <div class="row">
				<div class="col-4">
					<input type="checkbox" Unchecked data-toggle="switch" id="custom-switch-03" data-on-text="image" data-off-text="video" />
				</div>
				<div class="col-4">
					<div class="form-group">
						<input type="text" value="" placeholder="Time interval" class="form-control" />
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<input type="text" value="" placeholder="Number of samples" class="form-control" />
					</div>
				</div>
		  </div>
		  <a href="#fakelink" style="width:40%" class="btn btn-block btn-lg btn-primary">Schedule</a>
        </div>
	    <!--div class="col">
         
        </div> <!-- /.col -->
	</div>
	<div class="row demo-row">
	<h1 class="demo-section-title">Task List</h1>
	</div>
	<div class="row demo-row">
		  <div class="col-9">
          <table width="100%">
            <tr>
              <td width="30%" class="pbm">
                  <label class="checkbox" for="checkbox1">
					<input type="checkbox" value="" id="checkbox1" checked="checked" onchange='CheckboxChange()'data-toggle="checkbox">
					Task one
				  </label>
              </td>
              <td width="30%" class="pbm">
                <h6 class="demo-panel-title">Record a Video </h6>
              </td>
			  <td  class="pbm">
                <<div class="progress">
					<div class="progress-bar" style="width: 45%;"></div>
				</div>
              </td>
            </tr>
            <tr>
              <td width="30%" class="pbm">
                  <label class="checkbox" for="checkbox1">
					<input type="checkbox" value="" id="checkbox1" checked="checked" onchange='CheckboxChange()'data-toggle="checkbox">
					Task Two
				  </label>
              </td>
              <td width="30%" class="pbm">
                <h6 class="demo-panel-title">Record a Video </h6>
              </td>
			  <td  class="pbm">
                <<div class="progress">
					<div class="progress-bar" style="width: 45%;"></div>
				</div>
              </td>
            </tr>
            <tr>
              <td width="30%" class="pbm">
                  <label class="checkbox" for="checkbox1">
					<input type="checkbox" value="" id="checkbox1" checked="checked" onchange='CheckboxChange()'data-toggle="checkbox">
					Task Three
				  </label>
              </td>
              <td width="30%" class="pbm">
                <h6 class="demo-panel-title">Record a Video </h6>
              </td>
			  <td  class="pbm">
                <<div class="progress">
					<div class="progress-bar" style="width: 45%;"></div>
				</div>
              </td>
            </tr>
          </table>
        </div> <!-- /.col-9 -->
          
	</div>

{% endblock %}
{% block user_script %}
	<script>
        var SelectChange = function () {
           var item_idx = $("#myselect").val();
		   $.post('/video_feed', {
                item_idx: item_idx 
            }, function(r) {
                var obj = JSON.parse(r);
                if(obj.success == 'true') {
                    window.location.reload();
                }
            });
        }
		var CheckboxChange = function () {
			
		}
    </script>
{% endblock %}